{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <!-- Custom -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
   <!-- SCSS -->
  <link rel="stylesheet" href="{% static 'scss/mdb.lite.scss' %}">



  <title>Hafla {% block title %}{% endblock %}</title>
</head>

<body>
  
  <!-- NavBar -->
  {% include 'partials/_navbar.html' %}
    <!-- Main Content -->
  {% block content %} {% endblock %}
  <!-- Footer -->
  {% include 'partials/_footer.html' %}
  
  
  <script src="{% static 'js/jquery-3.4.1.min.js' %} "></script>
  <script src="{% static 'js/popper.min.js' %} "></script>
  <script src="{% static 'js/bootstrap.min.js' %} "></script>
  <script src="{% static 'js/mdb.min.js' %} "></script>
  <script src="{% static 'js/main.js' %} "></script>

</body>

</html>